language: python
python:
  - "2.7"
virtualenv:
  system_site_packages: true
before_install:
  - sudo add-apt-repository -y ppa:ubuntugis/ubuntugis-unstable
  - sudo apt-get update -qq
  - sudo apt-get install python-gdal python-numpy python-scipy
install:
  - scons
script: nosetests -v
